<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=300, initial-scale=5, maximum-scale=8.0, minimum-scale=3, user-scalable=0">-->

    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <!-- <script src="../static/jquery.min.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static/jqplog108r1250', filename='jquery.jqplot.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static/jqplog108r1250/plugins', filename='jqplot.dateAxisRenderer.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" hrf="../jquery.jqplot.min.css" />

    <title>Solar Monitor</title>
    <script type = "text/javascript">
        let myhost = "solar.dbiz:5000";
        let inCall = false;

        async function makeWebCall(address, data) {
            return new Promise(async (resolve, reject) => {
                if (data != null) {
                    resolve(null);
                } else {
                    const response = await fetch(address).then(async (response) => {
                        const myJson = await response.json();
                        //console.log(`makeWebCall() ~ response: ${JSON.stringify(myJson)}`);
                        resolve(myJson);
                    }).catch((err) => {
                        //console.log(`makeWebCall() ~ Error making webcall: ${JSON.stringify(err)}`);
                        resolve(null);
                    });
                }
            });
        }

        async function shutdown() {
            const response = await makeWebCall(`http://${myhost}/shutdown/`);
            console.log(`shutdown() ~ response: ${JSON.stringify(response)}`);
        }

        async function pushNumber(number) {
            if (number.indexOf('H') > -1) {
                inCall = false;
                const response = await makeWebCall(`http://${myhost}/hangup/`);
                console.log(`pushNumber() ~ number: ${number} | response: ${JSON.stringify(response)}`);
                document.getElementById("dialerText").innerHTML = '';
            } else if (number.indexOf('A') > -1) {
                inCall = true;
                let currentNumbers = document.getElementById("dialerText").innerHTML;
                if (currentNumbers == '') {                    
                    const response = await makeWebCall(`http://${myhost}/answer/`);
                    console.log(`pushNumber() ~ answering call - response: ${JSON.stringify(response)}`);
                } else {
                    const response = await makeWebCall(`http://${myhost}/makecall/${currentNumbers}`);
                    console.log(`pushNumber() ~ calling ${currentNumbers} - response: ${JSON.stringify(response)}`);
                }
            } else {
                if (inCall) {
                    // send tone with number
                    const response = await makeWebCall(`http://${myhost}/sendtone/${number}`);
                    console.log(`getStats() ~ response: ${JSON.stringify(response)}`);
                } else {
                    // just add the number to the list in preperation for a call
                    let currentNumbers = document.getElementById("dialerText").innerHTML;
                    currentNumbers = `${currentNumbers}${number}`;
                    document.getElementById("dialerText").innerHTML = currentNumbers;
                }
            }


        }

        async function getStats() {
            const response = await makeWebCall(`http://${myhost}/getvoltage/`);
            console.log(`getStats() ~ response: ${JSON.stringify(response)}`);
            if (response != null && response.status != null && response.status == "SUCCESS") {
                if (response.voltage != null) { document.getElementById("voltage").innerHTML = response.voltage; }
                if (response.signal != null) { document.getElementById("signal").innerHTML = response.signal; }
                if (response.network != null) { document.getElementById("network").innerHTML = response.network; }
                if (response.callstatus != null) { document.getElementById("callstatus").innerHTML = response.callstatus; }
            }
        }

        setInterval(getStats, 2000);

    </script>
</head>
<body>
    <div class="wrap">
        <header>
            <div id="callstatus"></div>
            <div id="stats">
                <div id="voltage"></div>
                <div id="signal"></div>
                <div id="network"></div>
            </div>
            <div id="dialerText"></div>
        </header>

        <div id="chart" style="margin:10px;width:800px;height:500px;" ></div>
        <script type="text/javascript">
            $(document).ready(function(){
                let line1=[['2008-08-12 4:00PM',4], ['2008-09-12 4:00PM',6.5], ['2008-10-12 4:00PM',5.7], ['2008-11-12 4:00PM',9], ['2008-12-12 4:00PM',8.2]];
                let plot1 = $.jqplot('chart1', [line1], {
                    title:'Default Date Axis',
                    axes:{
                        xaxis:{
                            renderer:$.jqplot.DateAxisRenderer
                        }
                    },
                    series:[{lineWidth:4, markerOptions:{style:'square'}}]
                });
            });
        </script>

        <div class="content">
        </div>
    </div>
    <footer>
		<button onclick="shutdown()">shutdown</button>
    </footer>
</body>

</html>