<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=300, initial-scale=5, maximum-scale=8.0, minimum-scale=3, user-scalable=0">-->

    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <!-- <script src="../static/jquery.min.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jqplot108r1250/jquery.jqplot.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jqplot108r1250/plugins/jqplot.highlighter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jqplot108r1250/plugins/jqplot.cursor.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jqplot108r1250/plugins/jqplot.meterGaugeRenderer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jqplot108r1250/plugins/jqplot.dateAxisRenderer.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqplot108r1250/jquery.jqplot.css') }}" />

    <title>Solar Monitor</title>
    <script type = "text/javascript">
        let myhost = "solar.dbiz:5000";
        let inCall = false;
        $.jqplot.config.enablePlugins = true;

        async function makeWebCall(address, data) {
            return new Promise(async (resolve, reject) => {
                if (data != null) {
                    resolve(null);
                } else {
                    const response = await fetch(address).then(async (response) => {
                        const myJson = await response.json();
                        //console.log(`makeWebCall() ~ response: ${JSON.stringify(myJson)}`);
                        resolve(myJson);
                    }).catch((err) => {
                        //console.log(`makeWebCall() ~ Error making webcall: ${JSON.stringify(err)}`);
                        resolve(null);
                    });
                }
            });
        }

        async function shutdown() {
            const response = await makeWebCall(`http://${myhost}/shutdown/`);
            console.log(`shutdown() ~ response: ${JSON.stringify(response)}`);
        }

        async function pushNumber(number) {
            if (number.indexOf('H') > -1) {
                inCall = false;
                const response = await makeWebCall(`http://${myhost}/hangup/`);
                console.log(`pushNumber() ~ number: ${number} | response: ${JSON.stringify(response)}`);
                document.getElementById("dialerText").innerHTML = '';
            } else if (number.indexOf('A') > -1) {
                inCall = true;
                let currentNumbers = document.getElementById("dialerText").innerHTML;
                if (currentNumbers == '') {                    
                    const response = await makeWebCall(`http://${myhost}/answer/`);
                    console.log(`pushNumber() ~ answering call - response: ${JSON.stringify(response)}`);
                } else {
                    const response = await makeWebCall(`http://${myhost}/makecall/${currentNumbers}`);
                    console.log(`pushNumber() ~ calling ${currentNumbers} - response: ${JSON.stringify(response)}`);
                }
            } else {
                if (inCall) {
                    // send tone with number
                    const response = await makeWebCall(`http://${myhost}/sendtone/${number}`);
                    console.log(`getStats() ~ response: ${JSON.stringify(response)}`);
                } else {
                    // just add the number to the list in preperation for a call
                    let currentNumbers = document.getElementById("dialerText").innerHTML;
                    currentNumbers = `${currentNumbers}${number}`;
                    document.getElementById("dialerText").innerHTML = currentNumbers;
                }
            }
        }

        async function setupChart() {
            const response = await makeWebCall(`http://${myhost}/gethistory/`);
            const historyArr = response.history; // 2021-10-10 22:53:07,13.70,14.85,15.59,12.30\n
            let line1 = [];
            let line2 = [];
            let line3 = [];
            for ( let i = 0; i < historyArr.length; i++) {
                let h = historyArr[i];
                if (h.v1.avg < 20 && h.v1.avg < 20) {
                    line1.push([h.timestamp,parseFloat(h.v1.avg)]);
                    line2.push([h.timestamp,parseFloat(h.v2.avg)]);
                    let mydiff = parseInt(h.a2.max) - parseInt(h.a1.avg);
                    line3.push([h.timestamp,mydiff]);
                }
            }

            //line1=[['2021-10-10 3:05PM',13.2], ['2021-10-10 3:06PM',13.1], ['2021-10-10 3:07PM',13.2], ['2021-10-10 3:08PM',13.3], ['2021-10-10 3:09PM',13.2]];
            //let line2=[['2021-10-10 3:05PM',12.9], ['2021-10-10 3:06PM',13.0], ['2021-10-10 3:07PM',12.9], ['2021-10-10 3:08PM',12.9], ['2021-10-10 3:09PM',12.9]];
            let plot1 = $.jqplot('chart1', [line1], {
                title:'Voltage History',
                axes:{
                    xaxis:{
                        renderer:$.jqplot.DateAxisRenderer, 
                        rendererOptions:{ tickRenderer:$.jqplot.CanvasAxisTickRenderer },
                        tickOptions:{ fontSize:'10pt', fontFamily:'Tahoma', angle:-40 }
                    },
                    yaxis:{
                        rendererOptions:{
                            tickRenderer:$.jqplot.CanvasAxisTickRenderer},
                            tickOptions:{ fontSize:'10pt', fontFamily:'Tahoma', angle:30, formatString:'%.2f'}
                    }
                },
                series:[{ lineWidth:4, markerOptions:{ style:'square' } }],
                cursor:{ zoom:true, looseZoom: true }
            });

            let plot2 = $.jqplot('chart2', [line3], {
                title:'Analog Diff History',
                axes:{
                    xaxis:{
                        renderer:$.jqplot.DateAxisRenderer, 
                        rendererOptions:{ tickRenderer:$.jqplot.CanvasAxisTickRenderer },
                        tickOptions:{ fontSize:'10pt', fontFamily:'Tahoma', angle:-40
                        }
                    },
                    yaxis:{
                        rendererOptions:{
                            tickRenderer:$.jqplot.CanvasAxisTickRenderer},
                            tickOptions:{ fontSize:'10pt', fontFamily:'Tahoma', angle:30
                            }
                    }
                },
                series:[{ lineWidth:4, markerOptions:{ style:'square' } }],
                cursor:{ zoom:true, looseZoom: true }
            });
        }

        async function getLatestVoltage() {
            const response = await makeWebCall(`http://${myhost}/getvoltage/`);
            //console.log(`getStats() ~ response: ${JSON.stringify(response)}`);
            if (response != null && response.status != null && response.status == "SUCCESS") {
                if (response.voltage != null) { 
                    //document.getElementById("voltage").innerHTML = `V1=${response.voltage.v1} || A1=${response.voltage.a1}<br/>V2=${response.voltage.v2} || A2=${response.voltage.a2}`;
                    document.getElementById("meterV").innerHTML = ""; // so we don't just keep adding in a new one
                    plot0 = $.jqplot('meterV',[[response.voltage.v1]],{
                        seriesDefaults: {
                            renderer: $.jqplot.MeterGaugeRenderer,
                            rendererOptions: { label: 'volts', min: 9, max: 16, intervals:[11,14,16], intervalColors:['#cc6666', '#66cc66', '#E7E658']
                            }
                        }
                    });
                }
            }
        }

        setInterval(getLatestVoltage, 5000);

    </script>
</head>
<body onload="setupChart()">
    <div class="wrap">
        <header>
            <div id="stats">
                <div id="voltage"></div>
            </div>
        </header>
        <div id="meterV" class="plot jqplot-target" style="width: 250px; height: 170px; position: relative;"></div>
        <div id="chart1" class="jqplot-target" style="width: 1200px; height: 200px; position: relative;"></div>
        <div id="chart2" class="jqplot-target" style="width: 1200px; height: 200px; position: relative;"></div>
        <div class="content">
        </div>
    </div>
    <footer>
		<button onclick="shutdown()">shutdown</button>
    </footer>
</body>

</html>